html,
body,
div,
span,
p,
h1,
h2,
h3,
h4,
ul,
ol,
li,
a,
div,
nav {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
