@import './base/base';
@import './utils/variables';
@import './utils/visually-hidden';
@import './layout/header';
@import './layout/container';
@import './layout/pagination';
@import './layout/footer';
@import './layout/contributors';
@import './layout/modal';
@import './layout/modal_footer';
@import './components/buttons';
@import './components/cards';
@import './components/loader';
@import './components/movie-card';
@import './components/back_to_top';
@import './components/empty-list';