<div class="movie-card">
    <ul class="movie-card_content-list">
        <li class="movie-card_cover" alt=""></li>
        <li class="movie-card_content">
            <p class="movie-card_title"></p>
            <table class="content_table">
                <tr class="table_string">
                    <td class="movie-feature_votes"></td>
                    <td class="movie-feature_votes-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_popularity"></td>
                    <td class="movie-feature_popularity-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_original-title"></td>
                    <td class="movie-feature_original-title-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_genre"></td>
                    <td class="movie-feature_genre-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_release-date"></td>
                    <td class="movie-feature_release-date-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_country"></td>
                    <td class="movie-feature_release-date-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_duration"></td>
                    <td class="movie-feature_duration-value"></td>
                </tr>
                <tr class="content_table">
                    <td class="movie-feature_starring"></td>
                    <td class="movie-feature_starring-value"></td>
                </tr>
            </table>
            <p class="card-title_about">about</p>
            <p class="about-text"></p>
            <div class="movie-card_btn">
                <button class="add-to-watched_btn" type="button">add to watched</button>
                <button class="remove-from-watched_btn" type="button">remove from watched</button>
                <button class="add-to-queue_btn" type="button">add to queue</button>
                <button class="remove-from-queue_btn" type="button">remove from queue</button>
            </div>
        </li>
    </ul>
</div>