$bg-color-main: #ffffff;
$bg-color-secondary: #ff6b01;
$bg-color-third: #f7f7f7;
$bg-color-pagination-active-page: #ff6b08;
$bg-modal: rgb(0, 0, 0, 0.25);
$text-color-main: #000000;
$text-color-secondary: #ffffff;
$text-color-third: #ff6b08;
$text-color-footer: #545454;
$text-color-modal-secondary: #8c8c8c;
$text-color-warning: #ff001b;
