<main>
  <section class="films">
    <div class="container">
      <ul class="films__list">
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
        <li class="films__item"></li>
      </ul>
    </div>
  </section>
</main>
