<header class="overlay">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo">
        <img
          srcset="./images/logo/logo.png 1x, ./images/logo/logo-2x.png 2x"
          src="./images/logo/logo.png"
          class="logo__image animate__animated animate__flip animate__infinite animate__slower"
          alt="Логотип фильмотеки"
        />
        <p class="logo__text">Filmoteka</p>
      </a>
      <ul class="nav__list">
        <li class="nav__item nav__item--active">
          <a href="./index.html" class="link nav__link nav__link-home">Home</a>
        </li>
        <li class="nav__item">
          <a href="./index.html" class="link nav__link nav__link-library">My library</a>
        </li>
      </ul>
    </nav>
    <form class="search">
      <input class="search__input" type="text" placeholder="Search movies" name="search" />
      <button class="search__button" type="submit">
        <svg class="search__icon">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="search-error is-hidden">
      Search result not successful. Enter the correct movie name
    </div>
    <div class="theme">
      <a href="#" class="theme_toggle">
        <svg width="50px" height="50px" class="icon--moon">
          <use href="./images/symbol-defs.svg#icon-dark_mode"></use>
        </svg>
        <svg width="50px" height="50px" class="icon--sunny">
          <use href="./images/symbol-defs.svg#icon-light_mode"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
