<!-- <button data-modal-open>GoIT Students</button> -->

<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="modal_footer">
    <button type="button" class="modal__button" data-modal-close>
      <svg width="18px" height="18px" class="modal__icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="title">
      <h2 class="team_name">Го Сюдой <span class="owod">OWOD</span> </h2>
    <h3 class="team_subtitle">On Wings Of Development</h3>
  </div>
    <div class="team__list">
      <table class="team">
      <tr class="team_member">
        <th class="team_member--name">Andrij Krupa</th>
        <td class="team_member--status">Team-leader</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Elena Shmetan</th>
        <td class="team_member--status">Scrum Master</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Aleksandr Antonenko</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Ihor Sharkadi</th>
        <td class="team_member--status">Developer</td>
      </tr>
       <tr class="team_member">
        <th class="team_member--name">Natalia Martyniuk</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Yaroslav Vyshynskyi</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Zoryana Fedorovska</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Vitalij Gudyma</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Pavel Suglobov</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Yuliia Kurian</th>
        <td class="team_member--status">Developer</td>
      </tr>
    </table>
  
    <div class="team_logo">
       <picture>
      <source srcset="./images/owod-pc_result.png" media="(min-width: 1200px)" />
      <source srcset="./images/owod-pc_result_1.png" media="(min-width: 768px)" />
      <img src="./images/owod-pc_result.png" alt="Team logo" />
    </picture>

    </div>
    
    </div>
<div >
   <picture class="team-photo--day-moode">
      <source srcset="./images/collage/collage-1200px.jpg" media="(min-width: 1200px)" />
      <source srcset="./images/collage/collage-768px.jpg" media="(min-width: 768px)" />
      <source srcset="./images/collage/collage-480px.jpg" media="(min-width: 320px)" />
      <img src="./images/collage/collage-1200px.jpg" alt="Team photo collage" />
    </picture>

     <picture class=" team-photo--dark-moode">
      <source srcset="./images/collage/collage-1200px-dark.jpg" media="(min-width: 1200px)" />
      <source srcset="./images/collage/collage-768px-dark.jpg" media="(min-width: 768px)" />
      <source srcset="./images/collage/collage-480px-dark.jpg" media="(min-width: 320px)" />
      <img src="./images/collage/collage-1200px-dark.jpg" alt="Team photo collage" />
    </picture>

 
</div>
   
    
        
  </div>
</div>
