<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__close-btn" type="button">
      <img class="modal__close-icon" src="./images/close-icon.svg" alt="close-icon" />
    </button>
    <div class="modal__container">
      <div class="modal__thumb">
        <img src="/images/film-image.jpg" alt="" />
      </div>
      <div class="modal__content">
        <p class="modal__title">A FISTFUL OF LEAD</p>
        <div class="modal__box">
          <div class="film-features">
            <p class="film-features__text">Vote / Votes</p>
            <p class="film-features__text">Popularity</p>
            <p class="film-features__text">Original Title</p>
            <p class="film-features__text">Genre</p>
          </div>
          <div class="film-values">
            <p class="film-values__text">
              <span class="film-values__vote film-values__vote--color">7.3</span>
              <span class="film-values__slash">/</span>
              <span class="film-values__vote film-values__votes--color">1260</span>
            </p>
            <p class="film-values__text">
              <span class="film-value__vote">100.2</span>
            </p>
            <p class="film-values__text">
              <span class="film-values__vote">A FISTFUL OF LEAD</span>
            </p>
            <p class="film-values__text">
              <span class="film-values__vote">Western</span>
            </p>
          </div>
        </div>
        <div class="modal__description">
          <p class="modal__about">About</p>
          <p class="modal__text">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
            and the other three escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were planning to hit the very
            same bank! As tensions rise, things go from bad to worse as they realise the bags of
            gold are filled with lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="modal__btn-box">
          <button class="modal__btn modal__btn--watched" type="button">Add to watched</button>
          <button class="modal__btn modal__btn--queue" type="button">Add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
