<!-- <button data-modal-open>GoIT Students</button> -->

<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="modal_footer">
    <button type="button" class="modal__button" data-modal-close>
       <svg width="18px" height="18px" class="modal__icon">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg></button>
    <h2 class="team_name">Лабораторія коду</h2>

    <table class="team">
      <tr class="team_member">
        <th class="team_member--name">Andrij Krupa</th>
        <td class="team_member--status">Team-leader</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Elena Shmetan</th>
        <td class="team_member--status">Scrum Master</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Aleksandr Antonenko</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Ihor Sharkadi</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Natalia Martyniuk</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Yaroslav Vyshynskyi</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Zoryana Fedorovska</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Vitalij Gudyma</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Pavel Suglobov</th>
        <td class="team_member--status">Developer</td>
      </tr>
      <tr class="team_member">
        <th class="team_member--name">Yuliia Kurian</th>
        <td class="team_member--status">Developer</td>
      </tr>
    </table>
<h3 class="contacts__title">Contacts for cooperation</h3>
    <ul class="contacts">
      
      
      <li class="contacts_item"> <a class="contacts__link" href="tel:012345677"><svg width="12px" height="12px" class="modal__icon">
                <use href="./images/symbol-defs.svg#icon-phone-black"></use>
            </svg> 012345677</a></li>
      <li class="contacts_item"><a class="contacts__link" href="mailto:project7@gmail.com"><svg width="12px" height="12px" class="modal__icon">
                <use href="./images/symbol-defs.svg#icon-email"></use>
            </svg> project7@gmail.com</a></li>
    </ul>
  </div>
</div>
