.films__img {
  border-radius: 5px;
}

.films__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $text-color-main;

  @media screen and (min-width: 768px) {
    margin-top: 8px;

    line-height: 1.33;
  }
}

.films__info {
  margin-top: 6px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $text-color-third;
}
